@charset "UTF-8";

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

.horizontal {
  float: left;
  list-style: none;
  margin: 1em;
}

.sub_list {
  background-color: aquamarine;
}